{% extends 'index.html' %}

{% load url from future %}

{% block content %}
	{% if form.errors %}
		<p>Podałeś niepoprawny login lub hasło. Spróbuj ponownie.</p>
	{% endif %}
	{% if not user.is_authenticated %}
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
			<span>
				{{ form.username.label_tag }}
				{{ form.username }}
			</span>
			<span>
				{{ form.password.label_tag }}
				{{ form.password }}
			</span>
			<input type="submit" value="Zaloguj" />
		</form>
	{% else %}
		<a href="logout">Wyloguj</a>
	{% endif %}
{% endblock content %}
