html, body
{
	width: 1004px;
	margin: 0 auto;
	color: #000000;
}

a
{
	color: #888888;
	text-decoration: underline;
}

a:hover
{
	color: #0000FF;
}

a#banner
{
	text-decoration: none;
	color: #000000;
}
	
div#menu a, div#footer a
{
	color: #000000;
	text-decoration: underline;
}

div#menu a:hover, div#footer a:hover
{
	text-decoration: none;
	color: #0000FF;
}

div
{
	border: 1px solid;
	margin: 0;
}

div#header
{
	text-align: center;
	font-size: xx-large;
	clear: both;
}

div#menu
{
	width: 197px;
	float: left;
}

div#content
{
	width: 801px;
	float: right;
}	

div#footer
{
	clear: both;
	text-align: right;
	font-size: x-small;
}

div#menu dl, div#menu dl dt, div#menu dl dd
{
	list-style: none;
	margin: 0;
	padding: 0;
}

div#menu dl dt
{
	font-size: large;
	font-weight: bold;
}
