{% extends "index.html" %}

{% block title %}Słówka{% endblock title %}

{% block content %}
	{% if wordsSet != None %}
		<h1>{{ wordsSet.name }}</h1>
		<ul>
		{% for word in wordsSet.getWords.all %}
			<li>{{ word }}</li>
		{% endfor %}
		</ul>
		<a href="{% url words.word_view wordsSet.id %}?reset">Nauka</a>
		<a href="{% url words.word_view wordsSet.id %}">Kontynuj</a>
	{% else %}
		<span>Nie masz uprawnień, aby uczyć się tego zestawu!</span>
	{% endif %}
{% endblock content %}
