{% load staticfiles %}
{% comment %}
{% load admin_urls %}
{% load url from future %}
{% endcomment %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
		<title>
			{% block title %}Zakuwaj!{% endblock title %}
		</title>
	</head>
	<body>
		<div id="site">
			<div id="header">
				{% block header %}ZAKUWAJ!{% endblock header %}
			</div>
			<div id="menu">
				{% block menu %}
				<dl class="menu">
					<dt>MENU</dt>
						<dd><a class="menu" href="{% url views.index %}">Strona główna</a></dd>
						<dd><a class="menu" href="{% url words.words_sets_list %}">Nauka</a></dd>
						<dd><a class="menu" href="{% url login %}">Logowanie</a></dd>
					<dt>
{% comment %}
					<dt>ADMINISTRACJA</dt>
						<dd><a class="menu" href="{% url opts|admin_urlname:'index' %}">Panel administracyjny</a></dd>
					</dt>
{% endcomment %}
				</dl>
				{% endblock menu %}
			</div>
			<div id="content">
				{% block content %}<span>Treść strony</span>{% endblock content %}
			</div>
			<div id="footer">
				{% block footer %}
				<a class="mail" href="mailto:tobikster@gmail.com">Paweł Tobiszewski</a>, <a class="mail" href="mailto:zjamnik@gmail.com">Mateusz Janik</a>
				{% endblock footer %}
			</div>
		</div>
	</body>
</html>

{% comment %}
	TODO: Menu trzeba przekopiować na inne podstrony (dynamiczne urle)
{% endcomment %}
