{% load staticfiles %}
{% comment %}
{% load admin_urls %}
{% load url from future %}
{% endcomment %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
		<script type="text/javascript" src="{% static 'javascript/jquery-1.7.2.js' %}"></script>
		{% block scripts %}{% endblock scripts %}
		<title>
			{% block title %}Zakuwaj!{% endblock title %}
		</title>
	</head>
	<body>
		<div id="site">
			<div id="header">
				{% block header %}<a id="banner" href="/">ZAKUWAJ!</a>{% endblock header %}
			</div>
			<div id="menu">
				{% block menu %}
				<dl >
					<dt>MENU</dt>
					<dd><a class="menu" href="{% url views.index %}">Strona główna</a></dd>
					<dd><a class="menu" href="{% url words.words_sets_list %}">Nauka</a></dd>
					{% if user.is_authenticated %}
						<dd><a class="menu" href="{% url logout %}">Wyloguj: {{ user.username }}</a></dd>
					{% else %}
						<dd><a class="menu" href="{% url login %}">Zaloguj</a></dd>
					{% endif %}
					{% if perms.admin %}
					<dt>ADMINISTRACJA</dt>
					<dd><a href="/admin">Panel administracyjny</a></dd>
					</dl>
					{% endif %}
				{% endblock menu %}
			</div>
			<div id="content">
				{% block content %}
				<span>Witaj na stronie projektu Zakuwaj!  Możesz tu nauczyć się słówek, choć w ograniczonym (jak na razie) zakresie.</span>
				{% endblock content %}
			</div>
			<div id="footer">
				{% block footer %}
				<span><a class="mail" href="mailto:tobikster@gmail.com">Paweł Tobiszewski</a>, <a class="mail" href="mailto:zjamnik@gmail.com">Mateusz Janik</a></span>
				{% endblock footer %}
			</div>
		</div>
	</body>
</html>
