{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
		<title>
			{% block title %}Zakuwaj!{% endblock title %}
		</title>
	</head>
	<body>
		<div id="site">
			<div id="header">
				{% block header %}ZAKUWAJ!{% endblock header %}
			</div>
			<div id="menu">
				{% block menu %}<span>MENU</span>{% endblock menu %}
			</div>
			<div id="content">
				{% block content %}<span>Treść strony</span>{% endblock content %}
			</div>
			<div id="footer">
				{% block footer %}
				<span class="mail"><a href="mailto:tobikster@gmail.com">Paweł Tobiszewski</a></span>
				<span class="mail"><a href="mailto:zjamnik@gmail.com">Mateusz Janik</a></span>
				{% endblock footer %}
			</div>
		</div>
	</body>
</html>